<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular?</title>
    <script src="angular/angular.js" charset="utf-8"></script>
    <script type="text/javascript">
      // var myAppModule = angular.module("MyApp", []);
      // myAppModule.controller("testController", function(){
      //   this.names = ["Jack", "Ray", "Kris"]
      //   this.add_name = function(){
      //     this.names.push(this.new_name)
      //     this.new_name = ""
      //   }
      // })
      var app = angular.module('app', [])
      app.controller('nameController', ['$scope', function($scope){
        this.names = []
        this.addName = function(){
          this.names.push(this.name)
          this.name = ""
        }
      }])
    </script>
    <style>
        .left,
        .right {
            display: inline-block;
            width: 45%;
            border: 1px solid #aaa;
            border-radius: 4px;
            vertical-align: top;
            max-height: 400px;
            overflow-y: scroll;
            padding: 10px;
            margin: 10px;
        }
        input{
          padding: 10px;
          margin: 10px;
          border: 1px solid #aaa;
          border-radius: 4px;
          color: green;
        }
    </style>
  </head>
  <body>
    <h1>Angular tk?</h1>
    <div ng-controller="nameController as nameCtrl">
      <div class="left">
        <form ng-submit="nameCtrl.addName()">
          Name: <input type="text" ng-model="nameCtrl.name"/>
          <input type="submit" value="Add a name"/>
        </form>
        <p>Currently typing: {{ nameCtrl.name }}</p>
      </div>
      <div class="right">
        <h2>Name stuff</h2>
        <input type="text" placeholder="filter..." ng-model="nameFilter">
        <div ng-repeat="name in nameCtrl.names | filter:nameFilter track by $index">
          <p>{{ name }}</p>
        </div>
      </div>
    </div>
    <a href="/friends">Friends</a> | <a href="/colors">Colors</a>
  </body>
</html>
